<%- include('includes/head')  %>
<%- include('includes/nav')  %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Lista de Consultas</h1>
      <p class="text-center lead">Lista logo abaixo.</p>
      <%- include('includes/messages') %>
      <% if (contatos.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Telefone</th>
              <th scope="col">E-mail</th>
            </tr>
          </thead>
          <% contatos.forEach(contato => { %>
            <tr>
              <td><%= contato.nome %></td>
              <td><%= contato.sobrenome %></td>
              <td><%= contato.telefone %></td>
              <td><%= contato.email %></td>
              <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
              <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
            </tr>
          <% }) %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem tarefas na sua agenda. :-(</p>
      <% } %>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer')  %>
